

.highScoreContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.DisplayScoreComponent {
    display: flex;
    flex-direction: column;
    border: 2px solid #dddddd;
    border-radius: 4px;
    background-color: #1c212a;

    width: 150px;

    margin: 0 10px;
}