.QuestionComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answerButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.answerButton {
    padding: 30px 70px;
    background-color: dodgerblue;
    font-size: inherit;
    color: black;
}
.answerButton:hover {
    background-color: blue;
    cursor: pointer;
}

.bar {
    border: 1px solid #666;
    height: 20px;
    width: 70%;


}
.in {
    float: right;
     height: 100%;
     background-color: dodgerblue;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}